.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.list {
  padding-top: 50px;

  .claimCard {
    border: 1px solid rgb(198, 198, 198);
    padding: 20px;
    border-radius: 4px;

    .name {
      margin-top: 0;
      cursor: pointer;
    }

    .actions {
      padding-top: 16px;
      display: flex;
      gap: 10px;
    }

    .pengingStatus {
    }

    .waitingStatus {
      border: 1px solid rgb(198, 198, 198);
      padding: 4px;
      border-radius: 4px;
      background-color: rgb(163, 220, 239);
      max-width: 100px;
      text-align: center;
    }

    .readyStatus {
    }
  }
}
